button {
  border: 1px solid white;
  width: 78px;
  height: 78px;
  color: white;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  background: limegreen;
  margin-left: 1px;
  margin-right: 2px;
  border-radius: 4px;
}
.calc {
  display: flex;
  flex-wrap: wrap;
  height: 415px;
  width: 328px;
  border: 1px solid grey;
  border-radius: 9px;
  background: green;
  box-shadow: 5px 5px 5px grey;

}
#blank {
  height: 78px;

  width: 240px;
  background: lightgrey;
  box-shadow: 3px 3px 3px grey;
  border-radius: 4px;
  color: white;
  font-size: 4em;
  text-align: right;
  border: 1px solid white;
}
button:nth-child(6) {
  color: grey;
  background: lightgreen;
}
button:nth-child(10) {
  color: grey;
  background: lightgreen;
}
button:nth-child(14) {
  color: grey;
  background: lightgreen;
}
button:nth-child(18) {
  color: grey;
  background: lightgreen;
}
